@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized >
        <h1>Welcome, user.Username</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to the app!</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to EmployeeApp.

<SurveyPrompt Title="How is EmployeeApp working for you?" />
