@page "/Register"
@using BlazorCrudDotNet7.Shared.Dtos
@using Blazored.LocalStorage
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<h3 class="text-center">Register</h3><br/>

<EditForm Model="user" OnSubmit="HandleRegister" class="text-center">
    <!-- Username input -->
    <div class="form-outline mb-4">
        <label for="username">Username: </label>
        <InputText id="username" @bind-Value="user.Username"></InputText> 
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label for="password">Password: </label>
        <InputText id="password" @bind-Value="user.Password" type="password"></InputText>
    </div>

    <p>Have an account: <a href="login">Login</a></p>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    UserLoginDto user = new();

    async Task HandleRegister()
    {
        await Http.PostAsJsonAsync("api/auth/register", user);
        NavigationManager.NavigateTo("login");
    }
}